body {
  background-color: #36393f;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i,
a {
  color: #f5f5f5;
  margin: 0;
}

* {
  text-size-adjust: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
}

h2 {
  font-size: 1.8rem;
  font-weight: 100;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h6 {
  font-weight: 200;
  color: #ccc;
}

p {
  font-size: 16px;

}

.card-hold>div{
  max-width: 380px;
}

.cardd {
  border-radius: 1rem;
  background-color: #101721;
  margin: 1rem .5rem;
  border: solid;
  border-width: 1px 2px 5px;
  border-color: #949394;
  max-width: 50%;
  min-width: 25%;
}

.cardd-body {
  position: relative;
  padding-bottom: 3rem !important;
}

.cardd-link {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-weight: 700;
  color: rgb(122, 199, 225);
}

.cardd-link:hover {
  color: rgb(122, 199, 225);
  text-decoration: underline;
}

header {
  background-color: #2f3136;
  text-align: center;
}

header h2 {
  font-weight: 100;
}

header .contact {
  border-width: 1px 0 0 0;
  border-color: #202225;
  border-style: solid;

  padding: 0;
  text-align: center;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

header .contact a {
  border: solid;
  border-color: transparent;
  border-width: 0 0 2px;
}

header .contact a:hover {
  border-color: rgb(0, 0, 138);
}

header .icon {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}

header .icon>h4 {
  flex-grow: 1;
  padding: 1rem 0;
}

header .icon>i {
  color: white;
  padding: 1em 1em 1em 0;
}



.sec-title {
  margin-top: 0;
  padding: 1em 0;
  background-color: #202225;
  text-align: center;
  font-weight: bold;
}

.job {
  padding: 2rem 3rem;
  background-color: #2f3136;
  border-radius: 10px;
  margin: 0;
}

.job h2 {
  margin-bottom: .5rem;
  font-weight: bolder;
}

.job h3 {
  margin-bottom: .2rem;
  font-weight: 600;
}

.job h4 {
  margin-bottom: .2rem;
  font-weight: 300;
}

.job p {
  margin-bottom: 1rem;
}


.link-bar {
  width: 100%;
}

.link-bar>a {
  padding: .5em 1em;
  margin: 0 .5rem 0;
  display: block;
  width: max-content;
  background-color: #101721;
  border-radius: 100px;
  color: #f5f5f5;
  text-decoration: none;
  border: solid;
  border-width: 1px 2px 5px;
  border-color: #949394;
}

.link-bar>a:hover {
  background-color: #17273e;
}


.skills ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.skills li {
  margin: .2rem;
  padding: .5rem 1.3rem;
  background-color: #101721;
  border-radius: 100px;
  color: #f5f5f5;
  text-decoration: none;
  border: solid;
  border-width: 1px 2px 5px;
  border-color: #949394;
  margin-left: .5em;
}

.skills li * {
  margin: 0;
}

.skills h3 {
  margin: 0.3em;
  text-align: center;
}

.sp {
  border-radius: 10px;
  margin-bottom: 1rem;
  background-color: #202225;
  border-width: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sp .link-bar {
  display: inline-block;
  width: initial;
}

.sp a {
  margin: auto;
}

.backrel {
  position: relative;
}

.backfloat {
  position: absolute;
  height: 100%;
  width: 95%;
  min-height: 300px;
  max-width: 600px;
  margin: auto;

}

.backfloat img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.backfloat i {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 4rem;
  text-shadow: 2px 2px 3px black;
}

iframe {
  z-index: 5;
  height: 100%;
  width: 100%;
  min-height: 300px;
  max-width: 600px;
  margin: auto;
}









:root {
  --grid-background-color: rgb(15, 15, 15);
  --grid-line-color: #000;
  --month: 10px;
  --grid-width: 120px;
  --timeline-events-line-height: 12px;
}


.timeline {
  font-family: sans-serif;
  padding: 0;
  position: relative;
  width: 100%;
  height: auto;
  background: var(--grid-background-color);
}

.timeline h1 {
  text-align: center;
  color: #fff;
  margin: 0 0 100px;
}


.timelines-years {
  padding: 0 0 0 0;
  width: auto;
  margin: auto;
  white-space: nowrap;
  border-top: 1px solid #282828;
  list-style: none;
  font-size: 0;
  height: 120px;
}

.timelines-years>li {
  position: relative;
  top: -6px;
  display: inline-block;
  width: calc(var(--grid-width));
  color: #868686;
  font-size: 11px;
  line-height: 11px;
  text-indent: -12px;
}

.timeline-events {

  position: relative;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  font-size: 0;
}

.timeline-event {
  position: absolute;
  top: 0;
  left: 30px;
}

.timeline-events h2,
.timeline-events h3,
.timeline-events h4 {
  margin: 0 0 1px 0;
  font-weight: normal;
  font-size: 11px;
}

.timeline-events h2 {
  color: #777;
  text-transform: uppercase;
}

.timeline-events h4 {
  color: #fff;
  font-style: italic;
}

.timeline-events li {
  display: inline-block;
}

.timeline-events li:before {
  position: absolute;
  left: 0;
  top: -15px;
  height: var(--timeline-events-line-height);
  border-radius: var(--timeline-events-line-height);
  content: '';
}

.dacom {
  left: calc(6*var(--month));
}

.dacom:before {
  background: #C2E34E;
  width: calc(2*var(--month));
}

.dacom h3 {
  color: #C2E34E;
}

.degree {
  top: -70px;
  left: calc(9*var(--month));
}

.degree:before {
  top: 15px !important;
  background: #FF9704;
  width: calc(60*var(--month));
}

.degree h3 {
  color: #FF9704;
}

.kenca {
  left: calc(18*var(--month));
}

.kenca:before {
  background: #C2E34E;
  width: calc(2*var(--month));
}

.kenca h3 {
  color: #C2E34E;
}

.divas {
  left: calc(30 *var(--month));
}

.divas:before {
  background: #56C2F3;
  width: calc(2*var(--month));
}

.divas h3 {
  color: #56C2F3;
}


.kids {
  left: calc(41 *var(--month));
}

.kids:before {
  background: #56C2F3;
  width: calc(28*var(--month));
}

.kids h3 {
  color: #56C2F3;
}

.crunch {
  top: -70px;
  left: calc(45 *var(--month));
}

.crunch:before {
  top: 15px !important;
  background: #DD3D01;
  width: calc(12*var(--month));
}

.crunch h3 {
  color: #DD3D01;
}

.vicedo {
  top: 30px;
  left: calc(54 *var(--month));
}

.vicedo:before {
  background: #56C2F3;
  width: calc(2*var(--month));
}

.vicedo h3 {
  color: #56C2F3;
}

.activa {
  top: 30px;
  left: calc(67*var(--month));
}

.activa:before {
  background: #C2E34E;
  width: calc(2*var(--month));
}

.activa h3 {
  color: #C2E34E;
}


.freelance {

  left: calc(69 *var(--month));
}

.freelance:before {
  background: linear-gradient(to left, var(--grid-background-color) 0, #56C2F3 100%);
  width: calc(15*var(--month));
}

.freelance h3 {
  color: #56C2F3;
}

.hobby {
  top: -70px;
  left: calc(71 *var(--month));
}

.hobby:before {
  top: 15px !important;
  background: linear-gradient(to left, var(--grid-background-color) 0, #DD3D01 100%);
  border-radius: 6px 0 0 6px;
  width: calc(13*var(--month));
}

.hobby h3 {
  color: #DD3D01;
}


.legend span {
  margin: 0 0 1px 0;
  font-weight: normal;
  font-size: 11px;
  position: relative;
  margin: 0 1.5rem;
}

.legend span::before {
  width: 120%;
  background-color: #DD3D01;

  position: absolute;
  left: 0;
  top: 15px;
  height: var(--timeline-events-line-height);
  border-radius: var(--timeline-events-line-height);
  content: '';
}

.legend>div:first-child>span:first-child {
  color: #DD3D01;
}

.legend>div:first-child>span:first-child::before {
  background: #DD3D01;
}

.legend>div:first-child>span:last-child {
  color: #FF9704;
}

.legend>div:first-child>span:last-child::before {
  background: #FF9704;
}

.legend>div:last-child>span:first-child {
  color: #56C2F3;
}

.legend>div:last-child>span:first-child::before {
  background: #56C2F3;
}

.legend>div:last-child>span:last-child {
  color: #C2E34E;
}

.legend>div:last-child>span:last-child::before {
  background: #C2E34E;
}