body {
  background-color: #36393f;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i,
a {
  color: #f5f5f5;
  margin: 0;
}

* {
  text-size-adjust: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
}

h2 {
  font-size: 1.8rem;
  font-weight: 100;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h6 {
  font-weight: 200;
  color: #ccc;
}

p {
  font-size: 16px;

}

header {
  background-color: #2f3136;
  text-align: center;
}

header h2 {
  font-weight: 100;
}

header .contact {
  border-width: 1px 0 0 0;
  border-color: #202225;
  border-style: solid;

  padding: 0;
  text-align: center;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

header .contact a {
  border: solid;
  border-color: transparent;
  border-width: 0 0 2px;
}

header .contact a:hover {
  border-color: rgb(0, 0, 138);
}

header .icon {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}

header .icon>h4 {
  flex-grow: 1;
  padding: 1rem 0;
}

header .icon>i {
  color: white;
  padding: 1em 1em 1em 0;
}



.sec-title {
  margin-top: 0;
  padding: 1em 0;
  background-color: #202225;
  text-align: center;
  font-weight: bold;
}

.job {
  padding: 2rem 3rem;
  background-color: #2f3136;
  border-radius: 10px;
  margin: 0;
}

.job h2 {
  margin-bottom: .5rem;
  font-weight: bolder;
}

.job h3 {
  margin-bottom: .2rem;
  font-weight: 600;
}

.job h4 {
  margin-bottom: .2rem;
  font-weight: 300;
}

.job p {
  margin-bottom: 1rem;
}


.link-bar {
  width: 100%;
}

.link-bar>a {
  padding: .5em 1em;
  margin: 0 .5rem 0;
  display: block;
  width: max-content;
  background-color: #101721;
  border-radius: 100px;
  color: #f5f5f5;
  text-decoration: none;
  border: solid;
  border-width: 1px 2px 5px;
  border-color: #949394;
}

.link-bar>a:hover {
  background-color: #17273e;
}


.skills ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.skills li {
  margin: .2rem;
  padding: .5rem 1.3rem;
  background-color: #101721;
  border-radius: 100px;
  color: #f5f5f5;
  text-decoration: none;
  border: solid;
  border-width: 1px 2px 5px;
  border-color: #949394;
  margin-left: .5em;
}

.skills li * {
  margin: 0;
}

.skills h3 {
  margin: 0.3em;
  text-align: center;
}

.sp {
  border-radius: 10px;
  margin-bottom: 1rem;
  background-color: #202225;
  border-width: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sp .link-bar {
  display: inline-block;
  width: initial;
}

.sp a {
  margin: auto;
}

.backrel {
  position: relative;
}

.backfloat {
  position: absolute;
  height: 100%;
  width: 95%;
  min-height: 300px;
  max-width: 600px;
  margin: auto;

}

.backfloat img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.backfloat i {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 4rem;
  text-shadow: 2px 2px 3px black;
}

iframe {
  z-index: 5;
  height: 100%;
  width: 100%;
  min-height: 300px;
  max-width: 600px;
  margin: auto;
}









:root {
  --grid-background-color: rgb(15, 15, 15);
  --grid-line-color: #000;
  --month: 10px;
  --grid-width: 120px;
  --timeline-events-line-height: 12px;
}






